<table class="table table-bordered tbl">
  <thead>
    <tr>
        <th style="text-align:center;">Rank</th>
        <th style="text-align:center;">Name</th>
        <th style="text-align:center;">Points</th>
    </tr>
  </thead>
  <tbody>
    <% @rank_list.each_with_index do |rank, index| %>
        <tr>
          <td style="text-align:center;"><%= index+1 %></td>
          <td style="text-align:center;"><%= User.find_by_id(rank[0]).name %></td>
          <td style="text-align:center;"><%= rank[1] %></td>
        </tr>
    <% end %>
  </tbody>
</table>
